#
# Copyright (C) 2025 Red Hat, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# SPDX-License-Identifier: Apache-2.0

name: e2e-tests-main

on:
  push:
    branches: [main]

  workflow_dispatch:
    inputs:
      organization:
        default: 'minc-org'
        description: 'Organization of the Minc Extension repository'
        type: string
        required: true
      repositoryName:
        default: 'minc-extension'
        description: 'Minc Extension repository name'
        type: string
        required: true
      branch:
        default: 'main'
        description: 'Minc Extension repo branch'
        type: string
        required: true

jobs:
  e2e-tests:
    name: Run E2E tests on ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022, ubuntu-24.04] #, macos-14
    runs-on: ${{ matrix.os }}
    steps:
      # Checkout minc extension
      - uses: actions/checkout@v5
        if: github.event_name == 'workflow_dispatch'
        with:
          repository: ${{ github.event.inputs.organization }}/${{ github.event.inputs.repositoryName }}
          ref: ${{ github.event.inputs.branch }}
          path: ${{ github.event.inputs.repositoryName }}

      - uses: actions/checkout@v5
        if: github.event_name == 'push'
        with:
          path: minc-extension

      # Checkout podman desktop
      - uses: actions/checkout@v5
        with:
          repository: podman-desktop/podman-desktop
          ref: main
          path: podman-desktop

      - uses: actions/setup-node@v5
        with:
          node-version: 22

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
          package_json_file: ./podman-desktop/package.json

      - name: Force WSL Kernel Update
        if: matrix.os == 'windows-2022'
        shell: powershell
        run: |
          Write-Host "Checking for and installing latest WSL kernel update..."
          wsl --update

      - name: Update Podman
        uses: redhat-actions/podman-install@main

      - name: Revert unprivileged user namespace restrictions in Ubuntu 24.04
        if: matrix.os == 'ubuntu-24.04'
        run: |
          # allow unprivileged user namespace
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0

      - name: Build Podman Desktop for E2E tests - Development Mode
        working-directory: ./podman-desktop
        run: |
          pnpm install
          pnpm test:e2e:build

      - name: Ensure getting current HEAD version of the test framework
        working-directory: ./minc-extension
        run: |
          pnpm add -D @podman-desktop/tests-playwright@next

      - name: Install Minc extension's dependencies
        working-directory: ./minc-extension
        run: pnpm install --no-frozen-lockfile

      - name: Run All E2E tests
        working-directory: ./minc-extension
        env:
          PODMAN_DESKTOP_ARGS: ${{ github.workspace }}/podman-desktop
        run: pnpm test:e2e

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v6
        if: always() # always run even if the previous step fails
        with:
          annotate_only: true
          fail_on_failure: true
          include_passed: true
          detailed_summary: true
          require_tests: true
          report_paths: '**/*results.xml'

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: e2e-tests
          path: ./**/tests/**/output/
